/* Container */
.attempt-exam-container {
  max-width: 900px;
  margin: auto;
  padding: 30px;
}

/* Title */
.attempt-title {
  font-size: 26px;
  color: #1e5cc3;
  margin-bottom: 20px;
}

/* Questions */
.attempt-questions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Question Card */
.attempt-question-card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.05);
}

/* Question Text */
.attempt-question {
  font-weight: 500;
  margin-bottom: 10px;
}

/* Options */
.attempt-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Option */
.attempt-option {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  background: #f1f5f9;
}

.attempt-option:hover {
  background: #e2e8f0;
}

/* Radio */
.attempt-option input {
  accent-color: #1e5cc3;
}

/* Submit Button */
.attempt-submit-btn {
  margin-top: 30px;
  width: 100%;
  padding: 12px;
  background: #1e5cc3;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.attempt-submit-btn:hover {
  background: #1749a3;
}